.skill-card {
  color: #abb2bf;
  border: 1px solid #abb2bf;
  width: 178px;
  height: fit-content;
}

.skill-card-header {
    display: flex;
  color: #abb2bf;
  border-bottom: 1px solid #abb2bf;
  width: 158px;
  padding: 10px;
  color: white;
}

.skill-card-body {
    padding: 10px;
    display: block;
}