hr {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: #282c33;
  color: white;
  font-family: Fira Code, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  /* background-image: url("./assets/images/background.png");
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: cover; */
}

aside {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 50px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}

.vertical-line {
  width: 1px;
  height: 191px;
  background-color: #abb2bf;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  gap: 50px;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.first-content {
  width: 537;
  height: 227;
}

.first-content h1 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  font-weight: semibold;
  font-family: Fira Code, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.first-content h1 strong {
  color: #c778dd;
}

.first-content button {
  background: none;
  border-color: #c778dd;
  color: white;
  font-size: medium;
  width: 137px;
  height: 37px;
}

.first-content-with-image {
  height: 386px;
  width: 469px;
}

.quote-image {
  margin: 0 auto;
  display: block;
  margin-top: 100px;
}

.projects {
  margin: 50px 0;
}

.projects-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.projects-header a {
  margin-left: auto;
}

.projects-header hr {
  width: 511px;
  margin-left: 10px;
  border: none;
  height: 1px;
  background-color: #c778dd;
}

.projects-header h2 {
  font-size: 32px;
  font-weight: 600;
  color: white;
  font-weight: medium;
}

.span-inside-h2 {
  color: #c778dd;
}

.projects-body {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skills-header hr {
  width: 239px;
  margin-left: 10px;
  border: none;
  height: 1px;
  background-color: #c778dd;
}

.skills-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-body img {
  display: block;
  height: 282px;
  width: 349px;
}

.skills-body-content {
  display: flex;
  gap: 10px;
}

.skills-body-content-box-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-body-content-box-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  gap: 20px;
}

.about-me img {
  display: block;
  height: 508px;
  width: 343px;
}

.about-me-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-me-content-header hr {
  width: 326px;
  margin-left: 10px;
  border: none;
  height: 1px;
  background-color: #c778dd;
}

p {
  color: #abb2bf;
}

.read-more {
  background: none;
  border-color: #c778dd;
  color: white;
  font-size: medium;
  width: 137px;
  height: 37px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.contacts-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-header hr {
  width: 127px;
  margin-left: 10px;
  border: none;
  height: 1px;
  background-color: #c778dd;
}

.contacts-body-left {
  width: 505px;
  color: #abb2bf;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contacts-detail-content {
  border: 1px solid #abb2bf;
  padding: 20px;
}

.contacts-detail-content-header {
  color: white;
  font-weight: 600;
  margin: 5px 0;
}

.contacts-detail-content-body {
  color: #abb2bf;
}

.email {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-seprator {
  width: 100%;
  color: #abb2bf;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer span {
  margin: 30px auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.footer-content span {
  margin: 0;
}

.footer-content-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-content-about-email {
  font-size: 16px;
  font-weight: lighter;
  color: #abb2bf;
}

.footer-content-social-media {
  width: 112px;
}

.footer-content-social-media h2 {
  width: 100%;
}

.footer-content-social-media img {
  margin: 0 2px;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .container {
    width: 360px;
  }

  .first {
    flex-direction: column;
  }

  .first-content {
    width: 360px;
  }

  .first-content-with-image {
    width: 360px;
  }

  .first-content-with-image img {
    width: 360px;
  }

  .quote-image {
    width: 360px;
  }

  .projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects-header {
    align-self: baseline;
  }

  .projects-header hr {
    width: 20px !important;
    margin-right: 10px;
  }

  .projects-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .skills-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-image: url("./assets/images/skill-side-image.png"); */
    width: 360px;
    /* background-size: cover;
    background-position: center; */
  }

  .skills-header {
    align-self: baseline;
  }

  .skills-header hr {
    width: 190px;
  }

  .skills-body img {
    display: none;
  }

  .skills-body-content {
    flex-direction: column;
    gap: 20px;
  }

  .about-me-content {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-me-content-header {
    align-self: baseline;
  }

  .about-me-content-header hr {
    width: 200px;
  }

  .about-me img {
    display: none;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    width: 360px;
    flex-wrap: wrap;
  }

  .contacts-body {
    flex-wrap: wrap;
  }

  .contacts-body-left {
    width: 360px;
  }
}
